.login__container {
  width: 90%;
  /* border: 2px solid black; */
  height: 80vh;
  margin: 0 auto;
  display: flex;
  margin-top: 120px;
  justify-content: space-between;
}
.login__form {
  width: 100%;
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.main-text {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.description-text {
  color: var(--dark-color);
  font-size: 1.2rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form > input {
  border: 1px solid black;
  width: 60%;
  margin: auto;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 1em;
  padding: 0.4rem 1rem;
}
.forget_link {
  color: #5137ee;
  font-weight: 400;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: flex-end;
  margin-right: 100px;
  font-size: 1.2rem;
}
.btn-login {
  margin-bottom: 10px;
  background-color: #5137ee;
  color: white;
  padding: 0.4rem 1rem;
  margin-top: 2em;
}
.btn-create-account {
  background-color: var(--dark-color);
  color: white;
}
.login__container > img {
  border-radius: 13px;
  object-fit: contain;
}
